*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--font-body);
  background-color: #1f1f1f;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
}

ul {
  list-style-type: none;
}

button {
  border: none;
}

input,
button,
textarea,
select {
  font: inherit;
}
