.container {
  width: min(1300px, 100%);
  margin-inline: auto;
  padding-inline: 1rem;
}

:root {
  --gradient-yellow: linear-gradient(to bottom, #fdc827, #141414);
  --gradient-occean: linear-gradient(to bottom, #4fb0bb, #141414);
  --gradient-purple: linear-gradient(to bottom, #7d468a, #141414);
  --gradient-pink: linear-gradient(to bottom, #fda4a0, #141414);
  --gradient-blue: linear-gradient(to bottom, #255ebb, #141414);

  --font-body: "Lato", sans-serif;
}

/* Utility Classes */

.gradient-occean {
  background: var(--gradient-occean);
}

.gradient-yellow {
  background: var(--gradient-yellow);
}

.gradient-purple {
  background: var(--gradient-purple);
}

.gradient-pink {
  background: var(--gradient-pink);
}

.gradient-blue {
  background: var(--gradient-blue);
}

/* .container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  max-width: 1300px;
  margin: auto;
} */

.facebook {
  background-color: #3b5998;
}

.twitter {
  background-color: #55acee;
}

.linkedin {
  background-color: #0e76a8;
}

.instagram {
  background-color: #e1306c;
}

.tiktok,
.medium,
.github {
  background-color: white;
  color: black;
}

.youtube {
  background-color: #990412;
}

.pinterest {
  background-color: #fe2c55;
}

.quora {
  background-color: #b92b27;
}

/* Utility Classes End */
